Repository klaytn/klaytn, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aidan-kwon, @kjhman21, @blukat29, @kjeom, @jimni1222, @henry-will, @nohkwak, @ian0371, @yoomee1313, @hyunsooda, @2dvorak, @jiseongnoh, @mckim19, @ethan-kr, @jeongkyun-oh, @JayChoi1736

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2
*       @aidan-kwon @kjhman21 @blukat29 @kjeom

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/      @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat
/api/           @kjeom @jimni1222 @henry-will @nohkwak
/blockchain/    @blukat29 @kjeom @ian0371 @yoomee1313
/build/	        @blukat29 @hyunsooda @2dvorak
/client/        @kjeom @jimni1222 @henry-will @nohkwak
/cmd/           @kjeom @aidan-kwon @kjhman21 @ian0371
/consensus/     @aidan-kwon @kjhman21 @jiseongnoh @mckim19
/console/       @kjeom @jimni1222 @henry-will @nohkwak
/contracts/     @blukat29 @hyunsooda @2dvorak @ian0371
/crypto/        @blukat29 @jiseongnoh @mckim19
/datasync/      @ethan-kr @jeongkyun-oh
/db_migration/  @ethan-kr @jeongkyun-oh
/event/	        @kjeom @JayChoi1736
/governance/    @blukat29 @aidan-kwon @kjhman21 @ian0371
/networks/      @kjeom @JayChoi1736 @yoomee1313
/node/	        @blukat29 @hyunsooda @2dvorak
/reward/        @blukat29 @ian0371
/rlp/	        @kjeom @JayChoi1736
/snapshot/      @ethan-kr @jeongkyun-oh
/storage/       @ethan-kr @jeongkyun-oh
/work/	        @blukat29 @aidan-kwon @kjhman21 @yoomee1313

Fix default action of --mnemonic-path
  cmd/homi/common/utils.go
  cmd/homi/setup/cmd.go
Owners: @kjeom, @aidan-kwon, @kjhman21, @ian0371

update rjeczalik/notify version to 0.9.3
  go.mod
  go.sum
Owners: @aidan-kwon, @kjhman21, @blukat29, @kjeom

resolve linter
  cmd/homi/common/utils.go
Owners: @kjeom, @aidan-kwon, @kjhman21, @ian0371

update rjeczalik/notify version to 0.9.3
  go.mod
  go.sum
Owners: @aidan-kwon, @kjhman21, @blukat29, @kjeom

blockchain: clearly distinguish vm error from other errors
  accounts/abi/bind/backends/simulated.go
  accounts/abi/bind/backends/simulated_test.go
  accounts/abi/bind/util.go
  api/api_ethereum.go
  api/api_public_blockchain.go
  api/tx_args.go
  blockchain/blockchain.go
  blockchain/state_prefetcher.go
  blockchain/state_transition.go
  blockchain/state_transition_test.go
  blockchain/types/tx_internal_data.go
  blockchain/vm/evm.go
  blockchain/vm/internaltx_trace_json_test.go
  blockchain/vm/internaltx_tracer.go
  governance/contract_connector.go
  networks/rpc/handler.go
  networks/rpc/json.go
  node/cn/state_accessor.go
  node/cn/tracers/api.go
  node/cn/tracers/api_test.go
  node/cn/tracers/internal/tracers/call_tracer.js
  node/cn/tracers/tracers_test.go
  node/sc/local_backend.go
  reward/addressbook_connector.go
  tests/smartcontract_execution_test.go
  tests/state_test_util.go
Owners: @aidan-kwon, @kjhman21, @blukat29, @kjeom, @jimni1222, @henry-will, @nohkwak, @ian0371, @yoomee1313, @JayChoi1736, @hyunsooda, @2dvorak

make kip103ContractCaller CallContract works
  consensus/istanbul/backend/kip103.go
Owners: @aidan-kwon, @kjhman21, @jiseongnoh, @mckim19

reflect comments
  blockchain/vm/evm.go
  blockchain/vm/internaltx_trace_json_test.go
Owners: @blukat29, @kjeom, @ian0371, @yoomee1313

Remove ProtocolManager.rewardwallet
  node/cn/backend.go
  node/cn/handler.go
Owners: @blukat29, @hyunsooda, @2dvorak

Remove ProtocolManager.rewardbase
  node/cn/backend.go
  node/cn/handler.go
  node/cn/handler_test.go
Owners: @blukat29, @hyunsooda, @2dvorak

Remove CN.RewardbaseWallet layer
  node/cn/backend.go
Owners: @blukat29, @hyunsooda, @2dvorak

Remove CN.SetRewardbase
  node/cn/backend.go
Owners: @blukat29, @hyunsooda, @2dvorak

Remove CN.setRewardWallet layer
  node/cn/backend.go
Owners: @blukat29, @hyunsooda, @2dvorak
